<form action="/addToCart" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name"><br>

    <label for="quantity">Quantity</label>
    <input type="text" name="quantity" id="quantity"><br>

    <label for="price">Price</label>
    <input type="text" name="price" id="price">
    
    <input type="submit" value="Submit">

</form>